.content-container{
    width: 100;
    padding: 15%;
    margin: 5px 0 22px 0  ;
    display: flex;
    border: none;
    background: #f1f1;
    .form-container{
      padding: 15%;
      display: block;
      background: none;

      .poto{
        padding: 20%;
        display: block;
      }
      .selet{
        border:solid ;
        border-radius: 12px;
      }
    }
    
    .button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      
}